* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 251);
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  overflow-x: hidden;
}

p {
  font-size: 1rem;
  font-weight: 500;
  text-align: justify;
}

h4 {
  font-weight: 500;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.mat-form-container {
  width: 40rem;
  position: relative;
}

.material-form {
  padding: 3rem 3rem;
  margin: 5rem 0rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
  align-self: center;
  border: 1px solid rgba(131, 131, 131, 0.3);
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.form-heading {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: rgba(41, 41, 41, 0.8);
  font-weight: bold;
  text-transform: uppercase;
}

.mat-label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: rgba(41, 41, 41, 0.7);
  display: block;
}

.material-form > input[type="text"],
.material-form > select,
.mat-input {
  background-color: rgb(255, 255, 251);
  border: 1px solid rgba(131, 131, 131, 0.5);
  border-radius: 0.2rem;
  height: 2.4rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0rem 1rem;
  margin-bottom: 2.5rem;
  color: rgba(41, 41, 41, 0.7);
  align-self: center;
}

.material-form > textarea {
  height: 4rem;
}

.form-title-div {
  display: inline-flex;
  align-items: baseline;
}

img {
  height: 3rem;
  width: 3rem;
  margin-right: 0.5rem;
}

option {
  color: rgba(41, 41, 41, 0.8);
  font-weight: 600;
}

.parentIdBox {
  opacity: 0.2;
}

.mat-submit {
  background-color: rgba(53, 53, 53, 0.8);
  border: 0;
  transition: 0.3s;
  width: 100%;
  border-radius: 0.2rem;
  height: 2.8rem;
  color: white;
  cursor: not-allowed;
  font-weight: bold;
  text-transform: uppercase;
  margin: 3rem 0rem 0rem 0rem;
}

@media only screen and (max-width: 470px) {
  .mat-form-container {
    margin-top: 2rem;
    height: 25rem;
  }
  .material-form {
    width: 17rem;
  }
}

@media only screen and (max-width: 330px) {
  .material-form {
    width: 14rem;
  }
}

/* #formOne {
  display: none;
} */

#formTwo {
  display: none;
  position: absolute;
  top: 0;
}

#formThree {
  position: absolute;
  top: 0rem;
  display: none;
}
